@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Space+Grotesk:wght@400;700&display=swap');

:root {
    --pink-color: #FF90E8;
    --green-color: #23A094;

}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    width: 5px;
    background-color: white;
    border: 1px solid black;
}

body {
    background-image: url(Assets/Bg3.jpg);
    background-size: cover;
}
body > section > h1 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1rem;
    font-size: 8rem;
}
body > section > img {
    width: 80px;
}

.create-acc {
    font-family: 'Poppins', sans-serif;
}

.card {
    background-color: #23A094;
    border: 3px solid black;
}
.form-label {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin-left: 5px;
}

.btn {
    background-color: black;
    border: 2px solid black;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    transition: ease-in-out transform 0.1s, box-shadow 0.15s;
}
.btn img {
    margin-right: 1rem;
    height: 1.2rem;
    vertical-align: middle;
}
.btn:hover {
    background-color: #FF90E8;
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 1);
    transition: ease-in-out transform 0.1s, box-shadow 0.15s;
}

.form-control:hover {
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 1);
    transition: ease-in-out;
}
.btn:focus, .btn:active,
.form-control:focus, .form-control:active {
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 1);
    transition: ease-in-out;
}

.or {
    display: flex;
    flex-direction: row;
}
.or:before, .or:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}
.or:before {
    margin-right: 10px
}

.or:after {
    margin-left: 10px
}
